
.App {
  text-align: center;


}

.pictry{ 
  margin-top: 200px; 
  margin-left: 500px;
}

*{
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
  font-family: 'Montserrat', sans-serif;
}

.card {
  padding: 20px;
}
.card img {
  margin: 10px;
}

.card p {
  padding: 0; 
  margin: 0; 
  font-family: 'Montserrat', sans-serif;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.Node-logo {
  height: 30vmin;
  pointer-events: none;
}

.logo-box {
  padding-right: 4rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

body {
  background-image: url(446984.jpg);
  background-repeat: no-repeat;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #003948;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
form{ 
  flex-direction: column;
  display:flex;
}