

.App {
  text-align: left;
}

.pictry{ 
  margin-top: 200px; 
  margin-left: 500px;
}

*{
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
  font-family: 'Montserrat', sans-serif;
}

.card {
  padding: 20px;
}
.card img {
  margin: 10px;
}

.card p {
  padding: 0; 
  margin: 0; 
  font-family: 'Montserrat', sans-serif;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.Node-logo {
  height: 30vmin;
  pointer-events: none;
}

.logo-box {
  padding-right: 4rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

body {
  background-image: url(background7.png);
  background-repeat: no-repeat;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #003948;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
form{ 
  flex-direction: column;
background: 
linear-gradient(rgba(255, 255, 255, 0.6), rgba(155, 89, 182, 0.6));
  display:flex;
  padding: 40px;
  max-width:1000px;
  box-shadow:0 4px 10px 4px rgba(#13232f);
  border-radius: 4px;
  margin:40px auto;
} 
form > .className { 
  display:flex;
  justify-content: center;

}
form > .capGrow { 
  color: black;
  margin-left: 375px;
}
form > .startbiz { 
  color:black;
  margin-left: 375px;
}
form > .finny { 
  color:black;
  margin-left: 375px;
}
form > .livE { 
  color:black;
  margin-left: 375px;
}
form > .info { 
  display:flex;
  justify-content: center;
}
form > .inc { 
  color:black;
  margin-left: 345px;

  font-family: Georgia, 'Times New Roman', Times, serif;

}
.inc > .inc2 { 
  margin-left: 13px;
  width: 125px;
  height:8px;
  
box-sizing: border-box;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: #0a0d11;
background-color: transparent;
font-size: 13px;
padding: 10px;
border: 1px solid rgb(185, 170, 170);

}
.textN{ 
  padding-right:40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: left;
}
form > .expe { 
  color:black;
  margin-left: 345px;
  font-family: Georgia, 'Times New Roman', Times, serif;
} 
.expe > .expe2 { 
  width: 125px;
  height:8px;
  
box-sizing: border-box;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: #0a0d11;
background-color: transparent;
font-size: 13px;
padding: 10px;
border: 1px solid rgb(185, 170, 170);

}
form > .fib { 
  color:black;
  margin-left: 345px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.fib > .fib2 { 
  width: 65px;
  height:8px;
  margin-left: -31px;
  
box-sizing: border-box;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: #0a0d11;
background-color: transparent;
font-size: 13px;
padding: 10px;
border: 1px solid rgb(185, 170, 170);

}
form > .child { 
  color:black;
  margin-left: 345px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
.child > .child2 { 
  width: 65px;
  height:8px;
  margin-left: 7px;
box-sizing: border-box;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: #0a0d11;
background-color: transparent;
font-size: 13px;
padding: 10px;
border: 1px solid rgb(185, 170, 170);

}
form > .bannk { 
  color:black;
  margin-left: 345px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
form > .bannky { 
  color:black;
  margin-left: 391px;
}
form > .bannkn { 
  color:black;
  margin-left: 395px;
}
form > .stonkk { 
  color:black;
  margin-left: 345px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
form > .stonkky { 
  color:black;
  margin-left: 391px;
}
form > .stonkkn { 
  color:black;
  margin-left: 395px;
}
form > .finAS { 
  color:black;
  margin-left: 345px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
form > .finASy { 
  color:black;
  margin-left: 391px;
}
form > .finASn { 
  color:black;
  margin-left: 395px;
}
form > .mortgage{ 
  color:black;
  margin-left: 345px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
form > .mortgagey { 
  color:black;
  margin-left: 391px;
}
form > .mortgagen { 
  color:black;
  margin-left: 395px;
}
 .submitbutton { 
  
  width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: rgb(255, 255, 255);
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  justify-content: center; 
  display:flex; 
}

.FormsAndInputs {
  height: 150%;
}
.RadarChartContainer {
  text-align: center;
}
.results-section {
  text-align: center;
}

.results-section h1 {
  font-size: 28px;
  color: white;
}